<div class="slds-filter--row slds-p-around--medium">
  <label class="slds-form-element__label blueleaf-text" >Model</label>
  <div class="slds-form--inline">
    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <div>
          <select  class="blueleaf-dropdown" (change)="modelNameChange()" [(ngModel)] = "modelOperator" name = "modelOperator">
            <option>Equal</option>
            <option>Not Equal</option>
            <option>Contains</option>
          </select>
        </div>
      </div>
    </div>

    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <!--<input type="text" [(ngModel)] = "modelName" (blur)="modelNameChange()" name="modelName" class="slds-input" placeholder="Model Name" />-->
        <app-autocomplete (textValue)="modelNameChange($event)" (postSelect)="modelNameChange($event)" [items]="modelList" [(ngModel)]="modelName" [upperCase]="false" [template]="'model'" [inputID]="'modelName-'+componentIndex" [placeholder]="'Model Name'" [defaultValue]="''"></app-autocomplete>
      </div>
    </div>

    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <button (click)="removeParameter()" class="slds-button slds-button--icon-border" aria-live="assertive" title="Remove Model">
          <svg class="slds-button__icon" aria-hidden="true" style="color: #007dc4">
            <use [attr.xlink:href]="urebalService.getAppContext() + '/assets/css_framework/assets/icons/utility-sprite/svg/symbols.svg#dash'"></use>
          </svg>
          <span class="slds-assistive-text">Remove Model</span>
        </button>
      </div>
    </div>

  </div>
</div>
