<div class="slds-grid slds-wrap blueleaf-dashboard-container">
  <div class="slds-size--1-of-1">
    <div class="slds-grid">
      <!-- Account summary -->
      <div class="slds-size--6-of-12 box color-white slds-m-right--x-small slds-m-bottom--x-small">
        <accounts-aggregate></accounts-aggregate>
      </div>
      <!-- Drifted Account summary -->
      <div class="slds-size--6-of-12 box color-white slds-m-left--x-small slds-m-bottom--x-small">
        <drifted-accounts-aggregate></drifted-accounts-aggregate>
      </div>
    </div>
  </div>

  <div class="slds-size--1-of-1">
    <div class="slds-grid">
      <!-- Accounts by market value -->
      <div class="slds-size--6-of-12 box color-white slds-m-right--x-small slds-m-bottom--x-small slds-m-top--x-small">
        <account-widget></account-widget>
      </div>
      <!-- Top Assigned Models -->
      <div class="slds-size--6-of-12 box color-white slds-m-left--x-small slds-m-bottom--x-small slds-m-top--x-small">
        <app-driftreport-summary-widget></app-driftreport-summary-widget>
      </div>
    </div>
  </div>

  <div class="slds-size--1-of-1">
    <div class="slds-grid">
      <!-- Drift report summary -->
      <div class="slds-size--6-of-12 box color-white slds-m-right--x-small slds-m-bottom--x-small slds-m-top--x-small">
        <model-widget></model-widget>
      </div>

      <!-- Top Held Securities -->
      <div class="slds-size--6-of-12 box color-white slds-m-left--x-small slds-m-bottom--x-small slds-m-top--x-small">
        <security-widget></security-widget>
      </div>
    </div>
  </div>

  <div class="slds-size--1-of-1 slds-hide">
    <div class="slds-grid">
      <!-- Trade summary widget -->
      <div class="slds-size--6-of-12 box color-white slds-m-right--x-small slds-m-bottom--x-small slds-m-top--x-small">
        <!--<last-trades-executed-widget></last-trades-executed-widget>-->
      </div>

      <!-- Drift by category -->
      <div class="slds-size--6-of-12 slds-m-right--x-small slds-m-bottom--x-small slds-m-top--x-small">

      </div>
    </div>
  </div>
</div>
