<div class="slds-grid slds-grid--frame" style="min-height: 90vh;">
    <div class="slds-col slds-grid slds-grid--align-center slds-grid--vertical-align-center">
        <div class="slds-grid--vertical-stretch slds-size--1-of-3 slds-p-vertical--medium">
            <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">Change Password</h1>
            <div class="slds-clearfix">&nbsp;</div>
            <!-- Change Password Form -->
            <form>
              <div class="slds-p-around--small">
                <label class="slds-align-content-center slds-text-color--error">{{errMsg}}</label>
              </div>

              <div class="slds-grid">
                <div class="slds-col slds-size--1-of-2">
                  <div class="slds-form--stacked login-form">
                    <div class="slds-form-element">
                      <div class="slds-form-element__control">
                        <input type="password" class="slds-input" placeholder="Current Password" [(ngModel)]="currentPwd" name="password" required />
                      </div>
                    </div>
                    <div class="slds-form-element">
                      <div class="slds-form-element__control">
                        <input type="password" class="slds-input" placeholder="New Password" [(ngModel)]="newPwd" (keyup)="newPasswordKeyUp()" name="newPassword"  id="newPassword" required />
                      </div>
                    </div>
                    <div class="slds-form-element">
                      <div class="slds-form-element__control">
                        <input type="password" class="slds-input" placeholder="Confirm New Password" [(ngModel)]="confirmNewPwd" (keyup)="newConfirmPasswordKeyUp()" name="confirmNewPassword" id="confirmNewPassword" required/>
                      </div>
                    </div>

                    <div class="slds-form-element">
                      <button [disabled]="disableChangePassword" (click)="changePassword()" class="slds-button slds-button--urebal">Change Password</button>
                    </div>
                  </div>

                </div>
                <div class="slds-col slds-p-horizontal--medium" style="width:350px;">
                  <h3>New password should:</h3>
                  <div class="slds-form-message box color-white slds-p-around--medium pcomplexity-border">
                    <p id="lower" class="password-invalid">
                      <span><b>lowercase</b> letter</span></p>
                    <p id="capital" class="password-invalid"><span><b>capital (uppercase)</b> letter</span></p>
                    <p id="number" class="password-invalid"><span><b>number</b></span></p>
                    <p id="special" class="password-invalid"><span>A <b>special character</b></span></p>
                    <p id="length" class="password-invalid"><span>Minimum <b>8 characters</b></span></p>
                    <p id="confirm" class="password-invalid"><span>be <b>confirmed by typing again</b>.</span></p>
                  </div>
                </div>
              </div>
            </form>
        </div>
    </div>
</div>

<app-modal #loginModalRef>
  <div class="slds-modal__content slds-text-align--center slds-p-around--medium">
    <p>{{successMsg}}</p>
  </div>
  <div class="slds-modal__footer">
    <button class="slds-text-heading--medium slds-button slds-button--urebal" (click)="navigateToLoginPage()">OK</button>
  </div>

</app-modal>

