<div class="slds-container">
  <div class="slds-grid slds-wrap">
    <urebal-topbar></urebal-topbar>
  </div>
</div>

<!-- <div style="width: 230px; height: 100vh; background:#fff; z-index: 998; left:0px; top:0px; position:fixed;"></div> -->
<div class="slds-container">
  <div class="gray-scale">
    <div style="margin: 100px auto; width:60%;">
      <h4 style="font-size: 30px; text-transform: uppercase; letter-spacing: 0.1rem; color:#000;">Terms of use</h4>
      <p>
        The materials on this site ("Site") are provided by SoftPak Financial Systems ("SoftPak") as a service to its clients and
        maybe used for informational purposes only. By accessing and using this Site, you agree to accept the terms and conditions
        as described below. If you do not agree to these terms and conditions, please do not use this Site.
      </p>
      &nbsp;&nbsp;&nbsp;
      <p>
        <b>Copyright Notice</b>
      </p>
      <p>
        &copy; 2018 SoftPak Financial Systems Inc. 333 Boston Post Road, Sudbury, MA 01776
      </p>
      <p>
        All rights reserved.
      </p>
      &nbsp;&nbsp;&nbsp;
      <p>
        The SoftPak logo is a trademark of SoftPak Financial Systems. All other trade names, trademarks, logos, and service marks
        on this site are the property of their respective owners.
      </p>
      &nbsp;&nbsp;&nbsp;
      <p>
        <b>Proprietary Rights</b>
      </p>
      <p>
        All materials on this site are the property of SoftPak or others, unless otherwise specified. Without permission from SoftPak,
        no portion maybe reproduced in any form, or by any means, without prior written consent of SoftPak. However, single
        copies of material contained on this Site may be downloaded for non-commercial, personal use provided you do not
        delete or change any copyright, trademark and other proprietary notices. Note that any product or service referenced
        on this site may be subject to other proprietary rights reserved by SoftPak and are not licensed hereunder. All rights
        not expressly granted therein are reserved. Any visitor to the Site who provides information to SoftPak agrees that
        SoftPak has unlimited rights to such information as provided, and that SoftPak may use such information in any way
        SoftPak chooses. Such information as provided by the visitor shall be deemed to be non-confidential.
        <br> SoftPak assumes no responsibility, and shall not be liable for any such damages to or viruses that may infect, your
        computer equipment, software, data or other property on account of your access to, use of, or browsing in the Site
        or your downloading of any materials, data, text or images, from the Site or any linked sites. SoftPak does not warrant
        the accuracy or completeness of the information, text, graphics, links or other items contained within the materials
        posted, set forth, downloadable or linked to this Site. SoftPak may make changes to any or all of these materials,
        or to the products described therein, at any time without notice. SoftPak makes no commitment to update the information
        on this Site.
      </p>
      &nbsp;&nbsp;&nbsp;
      <p>
        <b>Applicable Laws</b>
      </p>
      <p>
        This Site, excluding any linked sites, is controlled by SoftPak from its offices located in the state of Massachusetts within
        the United States of America. By accessing this Site, you and SoftPak agree that the statutes and laws of the state
        of Massachusetts, without regard to the conflicts of laws principles thereof, will apply to all matters relating
        to the use of this Site. Those who choose to access this Site from other locations do so on their own initiative
        and are responsible for compliance with local laws, if and to the extent local laws are applicable.
      </p>
      &nbsp;&nbsp;&nbsp;
      <p>
        <b>Disclaimer and Limitation on Liability</b>
      </p>
      <p>
        All of the information on this site is provided &quot;as is&quot; without warranty of any kind, either express or implied,
        including, but not limited to the implied warranties or merchantability, fitness for a particular purpose, or non-infringement.
        Some jurisdictions do not allow the exclusion of implied warranties, so the above exclusion may not apply to you.
      </p>

      <p style="font-size: 13px; margin-top: 20px;position: relative;">Click
        <a (click)="goToHome()" style="text-decoration: underline;color: black;">here</a> to return to our home page.</p>

    </div>
  </div>


</div>