<div class="slds-filter--row slds-p-around--medium">
    <label class="slds-form-element__label blueleaf-text">Portfolio Market Value</label>
    <div class="slds-grid">
        <div class="slds-col slds-size_3-of-12 slds-p-right--small">
            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div>
                        <select class="blueleaf-dropdown" #operatorChange
                                (change)="onOperatorChange(operatorChange.value)" [(ngModel)]="marketValOperator"
                                name="marketValOperator">
                            <option>Equal</option>
                            <option>Not Equal</option>
                            <option>Greater</option>
                            <option>Greater or Equal</option>
                            <option>Less</option>
                            <option>Less or Equal</option>
                            <option>Between</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-col slds-size_4-of-12  slds-p-right--x-small">
            <input type="text" class="slds-input blueleaf-text" placeholder="Market Value" id="mktValRange1" ur-number-format
                   [(ngModel)]="marketValue1" (blur)="marketValueChange()" name="marketValue1"/>

        </div>
        <div class="slds-col slds-size_1-of-12 slds-p-right--x-small slds-p-top--x-small blueleaf-text" *ngIf="showRange">
            <p>AND</p>
        </div>
        <div class="slds-col slds-size_4-of-12 slds-p-right--small blueleaf-text" *ngIf="showRange">
            <input type="text" class="slds-input" placeholder="Market Value" ur-number-format
                   [(ngModel)]="marketValue2" (blur)="marketValueChange()" name="marketValue2"/>
        </div>
        <div class="slds-col slds-size_2-of-12">
            <button (click)="removeParameter()" class="slds-button slds-button--icon-border" aria-live="assertive"
                    title="Remove Market Value">
                <svg class="slds-button__icon" aria-hidden="true" style="color: #007dc4">
                    <use [attr.xlink:href]="urebalService.getAppContext() + '/assets/css_framework/assets/icons/utility-sprite/svg/symbols.svg#dash'"></use>
                </svg>
                <span class="slds-assistive-text">Remove Market Value</span>
            </button>
        </div>
    </div>
</div>
