<softpak-combobox #SecurityInputRef
                  [width]="'99.9%'" [height]="'32px'"
                  [placeHolder]="'Enter Ticker'"
                  [valueMember]="'ticker'" [displayMember]="'ticker'" [showArrow]="false" [itemHeight]="45"
                  [minLength]="1" [remoteAutoComplete]="true" [multiSelect]="true" [dropDownHeight]="'250px'"
                  [searchMode]="'containsignorecase'" [renderer]="renderer" (onChange)="autoCompleteClose($event)" (onClose)="clearSecurityInput()">
</softpak-combobox>
