
<div class="slds-p-around--x-large">
    <softpak-grid #equivalencesGrid
                  [columns]=equivalencesGridCols
                  [source]=equivalencesGridAdapter
                  [groupable]="true"
                  [showgroupsheader]="false"
                  [width]="'100%'"
                  [height]="'360'"
                  [pageable]="false"
                  [pagermode]="'simple'"
                  [showstatusbar]="true" [altrows]="true" [showaggregates]="true"
                  [statusbarheight]="25"
    >
    </softpak-grid>
</div>
