<h1></h1>
<p>

</p>


<div class="slds-container">
  <div id="urebal_header"  class="slds-grid slds-wrap">
    <header class="navigation no-print">
      <div class="slds-grid slds-grid--vertical-align-center">
        <div class="slds-p-horizontal--medium logo"><img src="{{urebalService.getAppContext()}}/assets/images/uRebal-logo.png"/></div>


      </div>
    </header>
  </div>
  <div class="box-left-icon"><img src="{{urebalService.getAppContext()}}/assets/images/exclamation-mark.png"></div>
  <div class="gray-scale">
    <div class="box-left-404">
      <span>403</span>
    </div>
    <div class="box-left-text">
      <p>Forbidden/UnAuthorized Access!</p>
      <p style="font-size: 13px; color: black;position: relative; right: 17%; margin-top: 5px;">Sorry, you are not authorized to view/navigate to the requested URL/Path</p>
      <p style="font-size: 13px; margin-top: 20px;position: relative; right: 17%;">Click <a (click)="goToHome()" style="text-decoration: underline;color: #fff;">here</a> to return to our home page.</p>
    </div>
  </div>

</div>
