<li *ngFor="let item of items">
  <a (click)="selectItem(item)">
    <div  class="slds-grid slds-grid--align-spread">
      <div style="display:  flex;flex-direction: row;align-items:  center;">
        <img *ngIf="!item.isHouseHold" src="{{urebalService.getAppContext()}}/assets/images/single.png" style="width: 18px;height: 18px;/* margin-right: 5px; */">
        <img *ngIf="item.isHouseHold" src="{{urebalService.getAppContext()}}/assets/images/household.png" style="width: 18px;height: 18px;/* margin-right: 5px; */">
      </div>
      <div  class="slds-col slds-truncate" style="width: 58%">
        <span class="ticker-title">{{item.portfolioName}}</span>
        <span class="slds-text-color--weak">Drifted on: {{item.asOfDate | date:'MMM dd, yyyy'}}</span>
      </div>
      <div  class="slds-col" style="width: 27%">
        <span class="text-color-price">Drift: {{item.drift | number:'1.0-0'}}%</span>
      </div>
    </div>
  </a>
</li>
